<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="4096" />
    <httpHandlers>
      <add type="Upload.UploadHandler, Upload" path="Uploader.ashx" verb="POST" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="Upload.UploadHandler, Upload" path="Uploader.ashx" verb="POST" name="UploadHandler" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-Width, Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="Get,PUT,POST,DELETE,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>